* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #071a33;
  color: #ffffff;
}
